
div.a {
    width: 500px;
    font-size: 30px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    border: 1px solid greenyellow;
    text-align: center;
}
div.a:hover{
      overflow:scroll;
}

h1{
color: cyan;
text-shadow: 100px;

}

